<% provide(:title, 'Invoices') %>
<html>
<head>
<h1>
the total no of invoices: 

</h1>
</head>
<body>
<p>these invoices are being send by the cosmcicvent pvt.ltd
</br>
masab tank,hyd
</p>

</body>
</html>
